:root {
  color-scheme: light dark;
  --error-hue: 0;
  --error-color: hsl(var(--error-hue), 100%, 5%);
  --error-background: hsl(var(--error-hue), 100%, 75%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --error-color: hsl(var(--error-hue), 100%, 65%);
    --error-background: hsl(var(--error-hue), 100%, 5%);
  }
}

body {
  min-height: 100vh;
}

header {
  padding: 4rem 4rem 0 4rem;
  display: flex;
}

header > a {
  display: inline-flex;
  width: auto;
  flex-wrap: wrap;
  flex-grow: 1;
}

header .auth-info {
  justify-content: right;
}

main {
  padding: 0 4rem;
}

footer {
  padding: 2rem 4rem 4rem 4rem;
  text-align: center;
}

.slogan {
  font-size: 3rem;
}

.container {
  max-width: 960px;
  min-height: 100vh;
  margin: 0 auto;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

header h1 {
  font-weight: bold;
  font-size: 6rem;
}

header a,
footer a {
  text-decoration: none;
}

.home header p {
  font-size: 2rem;
}

.upload img {
  border: 2px solid var(--border-color);
  max-width: 100%;
}

.filename {
  overflow-wrap: anywhere;
}

.breadcrumbs {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.breadcrumbs li {
  display: inline;
  font-size: 2rem;
}

.breadcrumbs li+li:before {
  padding: 1rem;
  content: ">";
}

p.error {
  border-left: 3px solid var(--error-color);
  color: var(--error-color);
  background: var(--error-background);
  border-radius: 4px;
  padding: 1rem;
  box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.33);
}

.deletable {
  background-color: transparent;
  transition: background-color 1s linear;
}

.deleting {
  background-color: #c00;
}

table {
  width: 100%;
}

thead .name {
  width: 100%;
}

table form {
  display: inline;
}

#content.empty {
  display: none;
}
