{{ define "title" }}Admin{{ end }}
{{ define "navigation" }}
  <nav>
    <ul class="breadcrumbs">
      <li><a href="/">Home</a></li>
      <li><a href="/admin">Admin</a></li>
    </ul>
  </nav>
{{ end }}
{{ define "main" }}
  <nav>
    <ul>
      <li><a href="/admin/invites">Invites</a></li>
      <li><a href="/admin/users">Users</a></li>
      <li><a href="/admin/compos">Compos</a></li>
      <li><a href="/admin/entries">Entries</a></li>
    </ul>
  </nav>
{{ end }}
