{{ define "title" }}Compos{{ end }}
{{ define "navigation" }}
  <ul class="breadcrumbs">
    <li><a href="/">Home</a></li>
    <li><a href="/admin">Admin</a></li>
    <li><a href="/admin/compos">Compos</a></li>
  </ul>
{{ end }}
{{ define "main" }}
<div id="content" {{ if eq (len .Compos) 0 }}class="empty"{{ end }}>

  <h2>Compos</h2>
  <table>
    <thead>
      <tr>
        <th class="name">Name</th>
        <th class="entries">Entries</th>
        <th class="action">Action</th>
      </tr>
    </thead>
    <tbody>
    {{ range .Compos }}
    <tr class="deletable">
      <td><a href="{{ .AdminPath }}">{{ .Name }}</a></td>
      <td>{{ len .Entries }}</td>
      <td>
        <form action="{{ .AdminPath }}" method="post">
          <input type="hidden" name="_method" value="DELETE">
          <button class="button" name="delete" type="submit">Delete</button>
        </form>
      </td>
    </tr>
    {{ end }}
    </tbody>
  </table>
</div>

<h2>Add compo</h2>
<form action="/admin/compos" method="POST">
  <label for="name">Name:</label>
  <input type="text" name="name" id="name" required placeholder="Name">
  <input type="submit" value="Add">
</form>
{{ end }}
