{{ define "title" }}{{ .Compo.Name }}{{ end }}
{{ define "navigation" }}
  <ul class="breadcrumbs">
    <li><a href="/">Home</a></li>
    <li><a href="/admin">Admin</a></li>
    <li><a href="/admin/compos">Compos</a></li>
    <li><a href="{{ .Compo.AdminPath }}">{{ .Compo.Name }}</a></li>
  </ul>
{{ end }}
{{ define "main" }}
<h2>{{ .Compo.Name }}{{ with .Compo.Locked }} 🔒{{ end }}</h2>
<div id="content" {{ if eq (len .Compo.Entries) 0 }}class="empty"{{ end }}>
  <h3>Entries</h3>
  <table>
    <thead>
      <tr>
        <th class="name">Name</th>
        <th class="uploads">Uploads</th>
        <th class="action">Action</th>
      </tr>
    </thead>
    <tbody>
    {{ range .Compo.Entries }}
    <tr class="deletable">
      <td><a href="{{ .AdminPath }}">{{ .Title }}</a></td>
      <td>{{ len .Uploads }}</td>
      <td>
        <form action="{{ .AdminPath }}" method="post">
          <input type="hidden" name="_method" value="DELETE">
          <button class="button" name="delete" type="submit">Delete</button>
        </form>
      </td>
    </tr>
    {{ end }}
    </tbody>
  </table>
</div>

<form action="{{ .Compo.AdminPath }}" method="post">
  <input type="hidden" name="_method" value="PUT">

  <div class="form-group">
    <label for="name">Name:</label>
    <input type="text" name="name" id="name" required placeholder="Name" value="{{ .Compo.Name }}">
  </div>

  <div class="form-group">
    <label>
      <input type="checkbox" name="locked" id="locked" value="true" {{ if .Compo.Locked }} checked{{ end }}>
      <span class="label-body">Locked</span>
    </label>
    <input type="hidden" name="locked" value="false">
  </div>

  <input type="submit" value="Update">
</form>

<h3>Add entry</h3>
<form action="{{ .Compo.AdminPath }}/entries" method="POST">
  <div class="form-group">
    <label for="title">Title:</label>
    <input type="text" name="title" id="title" required placeholder="Title">
  </div>
  <div class="form-group">
    <label for="author">Author:</label>
    <input type="text" name="author" id="author" required placeholder="Author">
  </div>
  <input type="submit" value="Add">
</form>
{{ end }}
