{{ define "title" }}{{ .Compo.Name }}{{ end }}
{{ define "navigation" }}
  <ul class="breadcrumbs">
    <li><a href="/">Home</a></li>
    <li><a href="/admin">Admin</a></li>
    <li><a href="/admin/entries">Entries</a></li>
  </ul>
{{ end }}
{{ define "main" }}
<h2>All entries</h2>
<div id="content" {{ if eq (len .Entries) 0 }}class="empty"{{ end }}>
  <table>
    <thead>
      <tr>
        <th class="name">Name</th>
        <th class="uploads">Uploads</th>
        <th class="action">Action</th>
      </tr>
    </thead>
    <tbody>
    {{ range .Entries }}
    <tr class="deletable">
      <td><a href="{{ .AdminPath }}">{{ .Title }}</a></td>
      <td>{{ len .Uploads }}</td>
      <td>
        <form action="{{ .AdminPath }}" method="post">
          <input type="hidden" name="_method" value="DELETE">
          <button class="button" name="delete" type="submit">Delete</button>
        </form>
      </td>
    </tr>
    {{ end }}
    </tbody>
  </table>
</div>
{{ end }}
