{{ define "title" }}{{ .Entry.Title }}{{ end }}
{{ define "navigation" }}
  <ul class="breadcrumbs">
    <li><a href="/">Home</a></li>
    <li><a href="/admin">Admin</a></li>
    <li><a href="/admin/entries">Entries</a></li>
    <li><a href="{{ .Entry.AdminPath }}">{{ .Entry.Title }}</a></li>
  </ul>
{{ end }}
{{ define "main" }}
<h2>{{ .Entry.Title }} by {{ .Entry.Author }}</h2>
<div id="content" {{ if eq (len .Entry.Uploads) 0 }}class="empty"{{ end }}>
  <h3>Uploads</h3>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Size</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
    {{ range .Entry.Uploads }}
    <tr class="deletable">
      <td><a href="{{ .AdminPath }}">{{ .Filename }}</a></td>
      <td>{{ len .Content }}</td>
      <td>
        <form action="{{ .AdminPath }}" method="post">
          <input type="hidden" name="_method" value="DELETE">
          <button class="button" name="delete" type="submit">Delete</button>
        </form>
      </td>
    </tr>
    {{ end }}
    </tbody>
  </table>
</div>

<form action="{{ .Entry.AdminPath }}" method="post">
  <input type="hidden" name="_method" value="PUT">

  <div class="form-group">
    <label for="compo">Competition:</label>
    <select id="compo" name="compo" required>
      {{ $compoID := .Entry.CompoID }}
      {{ range .Compos }}
      <option value="{{ .ID }}"{{ if eq $compoID .ID }} selected{{ end }}>{{ .Name }}</option>
      {{ end }}
    </select>
  </div>

  <div class="form-group">
    <label for="title">Title:</label>
    <input type="text" name="title" id="title" required placeholder="Title" value="{{ .Entry.Title }}">
  </div>

  <div class="form-group">
    <label for="author">Author:</label>
    <input type="text" name="author" id="author" required placeholder="Author" value="{{ .Entry.Author }}">
  </div>

  <div class="form-group">
    <label>
      <input type="checkbox" name="locked" id="locked" value="true" {{ if .Entry.Locked }} checked{{ end }}>
      <span class="label-body">Locked</span>
    </label>
    <input type="hidden" name="locked" value="false">
  </div>

  <input type="submit" value="Update">
</form>

<h3>Add upload</h3>
<form action="{{ .Entry.AdminPath }}/uploads" method="POST" enctype="multipart/form-data">
  <label for="file">File:</label>
  <input type="file" name="file" id="file" required>
  <input type="submit" value="Add">
</form>
{{ end }}
