{{ define "title" }}Invites{{ end }}
{{ define "navigation" }}
  <ul class="breadcrumbs">
    <li><a href="/">Home</a></li>
    <li><a href="/admin">Admin</a></li>
    <li><a href="/admin/invites">Invites</a></li>
  </ul>
{{ end }}
{{ define "main" }}
{{ if gt (len .Invites) 0 }}
<h2>Invites</h2>
<table>
  <tr>
    <th>Key</th>
    <th>User</th>
  </tr>
  {{ range .Invites }}
  <tr>
    <td><code class="clipboard-copy">{{ .Key }}</code></td>
    <td>
      {{ if .User }}
        {{ .User.Username }}
      {{ end }}
    </td>
  </tr>
  {{ end }}
</table>
{{ end }}

<h2>Add invite</h2>
<form action="/admin/invites" method="POST">
  <div class="form-group">
    <label for="name">Key:</label>
    <input type="text" name="key" id="key" required placeholder="Key">
  </div>
  <input type="submit" value="Add">
</form>
{{ end }}
