{{ define "title" }}{{ .Entry.Title }}{{ end }}
{{ define "navigation" }}
  <ul class="breadcrumbs">
    <li><a href="/">Home</a></li>
    <li><a href="/admin">Admin</a></li>
    <li><a href="/admin/uploads">Uploads</a></li>
  </ul>
{{ end }}
{{ define "main" }}
<h2>All uploads</h2>
<div id="content" {{ if eq (len .Uploads) 0 }}class="empty"{{ end }}>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Size</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
    {{ range .Uploads }}
    <tr class="deletable">
      <td><a href="{{ .AdminPath }}">{{ .Filename }}</a></td>
      <td>{{ len .Content }}</td>
      <td>
        <form action="{{ .AdminPath }}" method="post">
          <input type="hidden" name="_method" value="DELETE">
          <button class="button" name="delete" type="submit">Delete</button>
        </form>
      </td>
    </tr>
    {{ end }}
    </tbody>
  </table>
</div>
{{ end }}
