{{ define "title" }}{{ .Upload.Filename }}{{ end }}
{{ define "navigation" }}
  <ul class="breadcrumbs">
    <li><a href="/">Home</a></li>
    <li><a href="/admin">Admin</a></li>
    <li><a href="/admin/entries">Entries</a></li>
    <li><a href="{{ .Upload.Entry.AdminPath }}">{{ .Upload.Entry.Title }}</a></li>
    <li><a href="{{ .Upload.AdminPath }}">{{ .Upload.Filename }}</a></li>
  </ul>
{{ end }}
{{ define "main" }}
<h2 class="filename">{{ .Upload.Filename }}</h2>
{{ $uploadPath := (print .Upload.AdminPath "/data") }}
<a href="{{ $uploadPath }}">
{{ if .Upload.IsImage }}
  <img src="{{ $uploadPath }}" alt="{{ .Upload.Filename }}">
{{ else }}
  {{ .Upload.Filename }}"
{{ end }}
</a>
{{ end }}
