{{ define "title" }}{{ .User.Username }}{{ end }}
{{ define "navigation" }}
  <ul class="breadcrumbs">
    <li><a href="/">Home</a></li>
    <li><a href="/admin">Admin</a></li>
    <li><a href="/admin/users">Users</a></li>
    <li><a href="{{ .User.AdminPath }}">{{ .User.Username }}</a></li>
  </ul>
{{ end }}
{{ define "main" }}
<h2>{{ .User.Username }}</h2>
<form action="{{ .User.AdminPath }}" method="post">
  <input type="hidden" name="_method" value="PUT">
  <div class="form-group">
    <label for="name">Username:</label>
    <input type="text" name="username" id="username" required placeholder="Username" value="{{ .User.Username }}">
  </div>

  <input type="submit" value="Update">
</form>
{{ end }}
