{{ define "title" }}Users{{ end }}
{{ define "navigation" }}
  <ul class="breadcrumbs">
    <li><a href="/">Home</a></li>
    <li><a href="/admin">Admin</a></li>
    <li><a href="/admin/users">Users</a></li>
  </ul>
{{ end }}
{{ define "main" }}
<div id="content" {{ if eq (len .Users) 0 }}class="empty"{{ end }}>
  <h2>Users</h2>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {{ range .Users }}
      <tr class="deletable">
        <td>{{ .ID }}</td>
        <td><a href="{{ .AdminPath }}">{{ .Username }}</a></td>
        <td>
          <form action="{{ .AdminPath }}" method="post">
            <input type="hidden" name="_method" value="DELETE">
            <button class="button" name="delete" type="submit">Delete</button>
          </form>
        </td>
      </tr>
      {{ end }}
    </tbody>
  </table>
</div>

<h2>Add user</h2>
<form action="/admin/users" method="POST">
  <div class="form-group">
    <label for="name">Username:</label>
    <input type="text" name="username" id="username" required placeholder="Username">
  </div>
  <input type="submit" value="Add">
</form>
{{ end }}
