{{ define "title" }}{{ .Title }}{{ end }}
{{ define "main" }}
  <p class="slogan">
    Granola &mdash; A minimal, modern competition system for demoparties.
  </p>
  {{ with .User }}
    <ul>
      <li><a href="/entries">Manage entries</a></li>
    </ul>
  {{ else }}
    <p>
      Please <a href="/register">register a user</a>, and
      <a href="/login">see yourself inside</a>!
    </p>
  {{ end }}
{{ end }}
