{{ define "title" }}Login{{ end }}
{{ define "main" }}
<h3>Login</h3>
<form action="/login" method="POST">
  <div class="form-group">
    <label for="username">Username:</label>
    <input type="text" name="username" id="username" value="{{ .Username }}" required autocomplete="username" placeholder="Username">
  </div>
  <div class="form-group">
    <label for="password">Password:</label>
    <input type="password" name="password" id="password" required autocomplete="current-password" placeholder="Password"{{ if .Username }} autofocus{{ end }}>
  </div>
  <input type="submit" value="Login">
</form>

{{ with .Error }}
<p class="error">{{ . }}</p>
{{ end }}

{{ end }}
