{{ define "title" }}Register{{ end }}
{{ define "main" }}
<h3>Register user</h3>
<form action="/register" method="POST">
  <div class="form-group">
    <label for="username">Username:</label>
    <input type="text" name="username" id="username" value="{{ .Username }}" required minlength="{{ .Config.MinimumUsernameLength }}" autocomplete="username" placeholder="Username">
    {{ with .Errors.username }}
    <p class="error">{{ . }}</p>
    {{ end }}
  </div>
  <div class="form-group">
    <label for="password">Password:</label>
    <input type="password" name="password" id="password" required minlength="{{ .Config.MinimumPasswordLength }}" autocomplete="new-password" placeholder="Password">

    <div id="password-confirm-wrapper" style="display: none">
      <label for="password-confirm">Confirm password:</label>
      <input type="password" name="password-confirm" id="password-confirm" required minlength="{{ .Config.MinimumPasswordLength }}" autocomplete="new-password" placeholder="Confirm password">
    </div>

    {{ with .Errors.password }}
    <p class="error">{{ . }}</p>
    {{ end }}
  </div>
  <div class="form-group">
    <label for="invite">Invite code:</label>
    <input type="text" name="invite" id="invite" value="{{ .Invite }}" required placeholder="Invite code">
    {{ with .Errors.invite }}
    <p class="error">{{ . }}</p>
    {{ end }}
  </div>
  <input type="submit" value="Register">
</form>

{{ end }}
